
<h1>Calculate the shipping cost</h1>
<form action="/grab">

  <div class="form-group">
     <label for="height">Enter the height</label>
     <input id="height" name="height" class="form-control" type="number">
  </div>

  <div class="form-group">
     <label for="length">Enter the length</label>
     <input id="length" name="length" class="form-control" type="number">
  </div>

  <div class="form-group">
     <label for="width">Enter the width</label>
     <input id="width" name="width" class="form-control" type="number">
  </div>

  <div class="form-group">
     <label for="weight">Enter the weight</label>
     <input id="weight" name="weight" class="form-control" type="number">
  </div>

  <div class="form-group">
     <label for="distance">Enter the distance</label>
     <input id="distance" name="distance" class="form-control" type="number">
  </div>

  <div class="form-group">
    <label for="speed">Enter the delivery speed</label>
    <select name="speed" type="string">
      <option value="Normal">Normal</option>
      <option value="Express">Express</option>
      <option value="Same Day">Same Day</option>
    </select>
  </div>

  <div><button type="submit" class="btn-success">Send</button></div>
</form>
